---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <!-- <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Jhansi Paluri</div>
    <div class="text-3xl py-3 font-bold">ECE Undergrad</div>
    <div class="py-2">
      <text class="text-lg">
       A passionate and driven Electronics and Communication Engineering undergraduate with a strong interest in
Embedded Systems, VLSI, and IoT applications. Committed to giving my best to every project I undertake, with
the goal of making meaningful and impactful contributions
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://linkedin.com/in/jhansi-paluri-636092286" target="_blank"> Let's connect!</a>
    </div>
  </div> -->
  <div>
    <div class="text-3xl w-full font-bold mb-2">CN PROJECT{"</>"}</div>
  </div>

<HorizontalCard
  title="UNIVERSITY NETWORK USING CISCO PACKET TRACER"
  img="/main.png"
  desc="A campus-wide network simulation using Cisco Packet Tracer, covering academic and admin blocks with routers, switches, servers, and VLANs. Designed to demonstrate efficient data flow, departmental segmentation, and network reliability through dynamic routing and redundancy."
  url="/blog/university-network-using-cisco-packet-tracer"
  badge="NEW"
/>

 <!-- <div class="divider my-0"></div>
  <HorizontalCard
  title="NETWORK TOPOLOGIES SIMULATION USING CISCO PACKET TRACER"
  img="/bus.png"
  desc="A comprehensive simulation of fundamental network topologies including Bus, Ring, Star, Mesh, and Tree using Cisco Packet Tracer. This project showcases network layout principles with an assigned IP range, emphasizing connectivity and practical understanding."
  url="/blog/network-topologies-simulation-using-cisco-packet-tracer"
  badge="TOPOLOGY"
/>
 

 <div class="divider my-0"></div>
<HorizontalCard
  title="INTERCONNECTING LAN TOPOLOGIES VIA ROUTER"
  img="/over.png"
  desc="Simulation of three different LANs—Star, Ring, and Tree—connected using a single router in Cisco Packet Tracer. Demonstrates IP subnetting, routing configuration, and inter-network communication."
  url="/blog/three-network-topologies-simulation-using-cisco-packet-tracer"
  badge="Router-Based Topologies"
  tags={["packet-tracer", "networking", "topologies", "router"]}
/> -->




  <!-- <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div> -->

  <!-- {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->


  <div class="flex flex-wrap gap-3 mt-4 ml-4">
  <a 
    href="/ASSIGNMENT_2_AMENU4ECE22022.pdf" 
    download 
    class="px-5 py-2 rounded-xl bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium transition duration-300 shadow"
  >
    KUNAL KUMAR PANT(ECE22022)
  </a>

   <a 
    href="/CN ASSIGNMENTS_22035_.zip" 
    download 
    class="px-5 py-2 rounded-xl bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium transition duration-300 shadow"
  >
    JHANSI LAKSHMI P(ECE22035)
  </a>
  <a 
    href="/AM.EN.U4ECE22055.pdf" 
    download 
    class="px-5 py-2 rounded-xl bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium transition duration-300 shadow"
  >
    SASANK K(ECE22055)
  </a>
  
  <a 
    href="/Assignments Sahiti.zip" 
    download 
    class="px-5 py-2 rounded-xl bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium transition duration-300 shadow"
  >
    SAHITI SRIPADA(ECE22058)
  </a>
  <a 
    href="/CN_REPORT f.pdf" 
    download 
    class="px-5 py-2 rounded-xl bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium transition duration-300 shadow"
  >
    REPORT
  </a>
  <a 
    href="/Design-and-Implementation-of-a-University-Campus-Network-Using-Cisco-Packet-Design-Tracer.pptx" 
    download 
    class="px-5 py-2 rounded-xl bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium transition duration-300 shadow"
  >
    PRESENTATION
  </a>
</div>
</BaseLayout>
